.results {
  display: grid;
  grid-template-columns: repeat(6, 250px);
  background-color: white;
  margin-top: 0px;
  justify-content: center;
  align-items: stretch;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }   
}

@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
}
